body {
	background-color: #3D4C4E;
	color: #ffffff;
}

a {
	color: #E4CD80;
}

.header {		
	padding: 20px;
}

.content {
	background-color: #4C585A;
	margin-top: 30px;
	padding:20px;
}

.footer {
	padding:20px;
	margin-top:50px;
}

.footer .license {
	
	margin-top:30px;
	margin-bottom: 30px;
}

/***********************************************/
.content-license {
	margin-top:30px;
}

.code-license {
	margin-top: 30px;
}