body {
	background-image: url(http://rexronin.github.io/images/trianglify-background.svg)
}

.content {

	margin-top: 30px;
}

.footer {
	
	margin-top:50px;
}

.footer .license {
	
	margin-top:30px;
	margin-bottom: 30px;
}

/***********************************************/
.content-license {
	margin-top:30px;
}

.code-license {
	margin-top: 30px;
}