body {
	background-color: #394042;
	color: #ffffff;
}

a, a:visited {
	color: #E4CD80;
}

a:hover {
	color:#AF383A;
}

.header {		
	padding: 20px;
	background-image: url("http://rexronin.github.io/images/header_bg.png");
}

.menu {
	margin-top: 10px;
}

	.nav-pills>li.active>a {
		color:#E4CD80;
		background-color:#AF383A;
	}

	.nav-pills>li.hover>a {
		color:#AF383A;
	}

.content {
	background-color: #4C585A;
	margin-top: 10px;
	padding:20px;
	border-radius: 10px;
}

.footer {
	padding:20px;
	margin-top:10px;
	background-image: url("http://rexronin.github.io/images/footer_bg.png");
}

.footer .license {
	
	margin-top:30px;
	margin-bottom: 30px;
}

/***********************************************/
.content-license {
	margin-top:30px;
}

.code-license {
	margin-top: 30px;
}