---
layout: default
title: Home
is_home: true
---

<div id="articles">
{% for post in paginator.posts limit:1 %}
  <article>
    <div class="item">
      <div class="item_details">
        <h3>{{ post.title }}</h3>
        <h4>{{ post.date | date_to_long_string }}</h4>
      </div>
      <div class="item_content">
        {{ post.content }}
      </div>
      <div class="item_meta">
        <span class="item_tags">
          Tags: 
          {% for tag in post.tags %}
          <a href="/tags/{{ tag }}.html" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}
          {% endfor %}
        </span>
      </div>
    </div>
  </article>
{% endfor %}
</div>

<hr/>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <span class="next-container"><a href="/" class="previous">Next</a></span>
    {% else %}
      <span class="next-container"><a href="/page{{ paginator.previous_page }}" class="previous">Next</a></span>
    {% endif %}
  {% endif %}

  {% if paginator.next_page %}
    <span class="previous-container"><a href="{{ paginator.next_page.url }}" class="next">Previous</a></span>
    {% else %}
    <span class="previous-container"><span class="previous">Previous</span></span>
  {% endif %}
</div>