<div class="footer">
	<div class="disclaimer"><small><mark>DISCLAIMER:</mark></small>
		<p><small>
			The opinions expressed on this site are my own personal opinions and are almost definitely not representative of the views of any employer I may or may not have/have had at the time of writing. 
		</small></p>
		<p><small>
			Also if you are in any way offended by the opinions in this blog feel free to not read it. Alternatively you can send all complaints to:

			<address>
				<strong>The wastebin</stong><br>
				<a href="mailto:noonecares@notevenyourmum.com">noonecares@notevenyourmum.com</a>
			</address>
		</small></p>
	</div>
	<div class="contact"></div>
	<div class="rss"></div>
	<div class="license">
		<small>
		<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />
		<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">rexronin.github.io</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://rexronin.github.io/" property="cc:attributionName" rel="cc:attributionURL">Simon Smart</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br />
		Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://rexronin.github.io/" rel="dct:source">http://rexronin.github.io/</a>.
		</small>
	</div>
</div>