<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />		
		<meta name="author" content="Simon Smart" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ site.url }}/css/bootstrap-theme.min.css">	
		<link rel="stylesheet" href="{{ site.url }}/css/site.css">

	</head>
	<body>

		<div class="container-fluid">

			{% include header.html %}

			<div class="menu">

				<ul class="nav nav-pills">

					<li role="presentation" class="active"><a href="#">Home</a></li>

					<li role="presentation"><a href="{{ site.url }}/archive">Archive</a></li>

					<li role="presentation"><a href="{{ site.url }}/about">About</a></li>

					<li role="presentation"><a href="{{ site.url }}/resources">Resources</a></li>

			</div>

			{{content}}

			{% include footer.html %}

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<script src="{{ site.url }}/js/bootstrap.min.js"></script>

	</body>
</html>