<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />		
		<meta name="author" content="Simon Smart" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Rex Ronin - {{ page.title }}</title>

		<link rel="shortcut icon" href="{{ site.url }}favicon.ico">
		<link rel="icon" href="{{ site.url }}favicon.ico">

		<link rel="stylesheet" href="{{ site.url }}css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ site.url }}css/bootstrap-theme.min.css">	
		<link rel="stylesheet" href="{{ site.url }}css/site.css">

		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-58520103-1', 'auto');
			ga('send', 'pageview');

		</script>
		<!-- End Google Analytics -->

	</head>
	<body>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">

					<div class="header">

						<div class="title">
							<h1>Rex Ronin</h1>			
						</div>

						{% include menu.html %}

					</div>

				</div>
			</div>

			<div class="content-container">
				<div class="row">
					<div class="col-md-6 col-md-offset-2 content">

						<!-- Post heading -->
						<div class="item_details">
				        	<h3>{{ page.title }}</h3>
				        	<h4>{{ page.date | date_to_long_string }}</h4>
				    	</div>

						<!-- Post content -->
				    	<div class="item_content">
							{{content}}
						</div>

						<!-- Tags -->
				        <div class="item_meta">
				        	<span class="item_tags">
				        		Tags: 
				        		{% for tag in page.tags %}
				        			<a href="/tags/{{ tag }}.html" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}
				        		{% endfor %}
				        	</span>
				        </div>

				        <!-- Pagination links -->
				        <div class="pagination">
						  	{% if page.previous %}
						    	<span class="previous-container"><a href="{{ page.previous.url }}" class="previous">Previous</a></span>
						  	{% else %}
						    	<span class="previous-container"><span class="previous">Previous</span></span>
						  	{% endif %}

						  	{% if page.next %}
						    	<span class="next-container"><a href="{{ page.next.url }}" class="next">Next</a></span>
						  	{% else %}
						    	<span class="next-container"><span class="next ">Next</span></span>
						  	{% endif %}
						</div>

					</div>

					<div class="col-md-2"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8 col-md-offset-2">

					{% include footer.html %}

				</div>
			</div>

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<script src="{{ site.url }}js/bootstrap.min.js"></script>

	</body>
</html>